* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  background-color: rgb(43, 26, 73);
}

.header {
  width: 100%;
  background-color: rgb(77, 49, 109);
}

.title {
  padding: 20px 20px 20px 100px;
  color: white;
  font-size: 24px;
  font-family: "Press Start 2P", cursive;
  letter-spacing: 4px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  padding: 30px;
}

.info {
  max-width: 1000px;
  display: flex;
  flex-grow: 0;
  order: 1;
  flex-direction: column;
  color: white;
}

.context {
  margin-top: 20px;
  padding-left: 50px;
  font-size: 14px;
  line-height: 1.8em;
  font-family: "Press Start 2P";
  text-align: left;
  letter-spacing: 2px;
}

.rules {
  margin-top: 20px;
  padding-left: 50px;
  font-size: 14px;
  line-height: 1.8em;
  font-family: "Press Start 2P";
  text-align: left;
  letter-spacing: 2px;
}

.arrow {
  font-size: large;
  color: #b3ffab;
}
.alert {
  font-size: 60px;
  color: #b3ffab;
}
.container {
  margin-top: 20px;
  margin-left: 100px;
  display: flex;
  border: 1px double rgb(77, 49, 109);
  -webkit-box-shadow: -2px 5px 23px 6px rgba(143, 76, 143, 0.84);
  -moz-box-shadow: -2px 5px 23px 6px rgba(143, 76, 143, 0.84);
  box-shadow: -2px 5px 23px 6px rgba(143, 76, 143, 0.84);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  height: 700px;
  background-image: linear-gradient(to bottom, #b3ffab 0%, #12fff7 100%);
}

.grid div {
  height: 35px;
  width: 35px;
  border: 0.03px dotted #9cd1bdf1;
}

.tetromino {
  background-image: url(../images/Koffing.png);
  background-size: cover;
}

.mini-grid {
  margin-top: 20px;
  margin-left: 30px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
}

.mini-grid div {
  height: 20px;
  width: 20px;
  border: 0.02px dotted #9cd1bdf1;
}

.taken.hid {
  display: none;
}

.footer {
  background-color: rgb(77, 49, 109);
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}
.footer a {
  color: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

/*button*/

.reset-btn {
  height: 40px;
  width: 60px;
  margin-top: 30px;
  color: rgb(43, 26, 73);
  background-color: #b3ffab;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  box-shadow: 3px 6px #888888;
}

.reset-btn:focus {
  outline: none;
}

.reset-btn:active {
  cursor: pointer;
  background-color: rgb(77, 49, 109);
  margin-top: 31px;
  box-shadow: 2px 4px #888888;
  outline: none;
}

.reset-btn:hover {
  cursor: pointer;
  background-color: rgb(77, 49, 109);
  color: white;
}

.start-btn {
  margin-top: 30px;
  color: rgb(43, 26, 73);
  background-color: #b3ffab;
  width: 100px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  box-shadow: 3px 6px #888888;
}

.start-btn:hover {
  cursor: pointer;
}

.start-btn:active {
  cursor: pointer;
  margin-top: 31px;
  box-shadow: 2px 4px #888888;
  outline: none;
}

.start-btn:focus {
  outline: none;
}

.score-label {
  margin-top: auto;
}

.hidden {
  display: none;
}

.game-over {
  position: absolute;
  right: 0;
  top: 30%;
  height: 300px;
  width: 100%;
  background-color: rgba(32, 11, 56, 0.739);
  padding-top: 100px;
  color: white;
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  font-size: 50px;
}

.score-label {
  color: white;
  font-size: 16px;
  line-height: 2em;
  font-family: "Press Start 2P";
  text-align: left;
  letter-spacing: 2px;
}

.score-num {
  color: #b3ffab;
}
